/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/log.txt

ps-privacy.secrets
codm_fb.txt
playersupport_dev_dws.txt
psuat_oauth_secret.txt
scratch.soql
privacyconfirmation - SAR block.html
privacycancellation.page.html
psprivacy_sf.txt

examples
examples/*